extends ../includes/layout

block main-content
   .navbar.navbar-inverse.navbar-fixed-top
      .container
         .navbar-header 
             a.navbar-brand(href="/") Teraproc
               h6 -Cluster as a Service for R Analytics
         .navbar-collapse.collapse
             ul.nav.navbar-nav
               li 
                 a(href="/") Home 123

   section.content
      div(ng-view)

   footer.container.text-center
     p &copy; 2015 Teraproc Inc.
