.container
    .well
        form.form-horizontal(name="credentialForm")
            fieldset
                legend Enter Your AWS Credentials
                .form-group
                    label.col-md-2.control-label(for="credentialName") Credential Name
                    .col-md-10
                        input.form-control(name="credentialName", type="text", placeholder="myawscredential01", ng-model="credentialName", required)
                .form-group
                    label.col-md-2.control-label(for="cloudPlatform") Cloud Provider
                    .col-md-10
                        input.form-control(name="cloudPlatform", type="text", placeholder="AWS", ng-model="cloudPlatform", required)
                .form-group
                    label.col-md-2.control-label(for="description") Description
                    .col-md-10
                        input.form-control(name="description", type="text", placeholder="My AWS Credential", ng-model="description")
                .form-group
                    label.col-md-2.control-label(for="roleARN") AWS IAM ROLE ARN
                    .col-md-10
                        input.form-control(name="roleARN", type="text", placeholder="arn:aws:iam::123456789012:role/teraproc-dev-access", ng-model="roleARN", required)
                .form-group
                    label.col-md-2.control-label(for="publicKey") SSH Public Key
                    .col-md-10
                        textarea.form-control(name="publicKey", type="textarea", rows="6", placeholder="ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAklOUpkDHrfHY17SbrmTIpNLTGK9Tjom/BWDSUGPl+nafzlHDTYW7hdI4yZ5ew18JH4JW9jbhUFrviQzM7xlELEVf4h9lFX5QVkbPppSwg0cda3Pbv7kOdJ/MTyBlWXFCR+HAo3FXRitBqxiX1nKhXpHAZsMciLq8V6RjsNAQwdsdMFvSlVK/7XAt3FaoJoAsncM1Q9x5+3V0Ww68/eIFmb1zuUFljQJKprrX88XypNDvjYNby6vw/Pb0rwert/EnmZ+AW4OZPnTPI89ZPmVMLuayrD2cE86Z/il8b+gw3r3+1nKatmIkjn2so1d01QraTlMqVSsbxNrRFi9wrf+M7Q== user@example.com", ng-model="publicKey", required)
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="credential()", ng-disabled="credentialForm.$invalid") Next

