.container
    .jumbotron
        H2 Launching Cluster ...
        ul
            li redisplay user selected plan
            li redisplay validated user credential (report error if invalid)
            li display estimated hourly costs, Teraproc = 0, AWS = ???
    .col-md-12
        .pull-right
            button.btn.btn-primary(ng-click="launch()") Next