.container
    .jumbotron
        h1 Teraproc R Analytics
        p Welcome to Teraproc R Analytics! The most flexible and easiest way to develop your big data projects
        h4 API Test . . .

    .row
        .col-md-12
            div(ng-include="'/partials/main/featured-courses'")
