.container
    .jumbotron
        h1 Testing
        p Welcome screen before user is authenicated

        p Current Path {{currentPath}}
    .row
        .col-md-12
            div(ng-include="'/partials/main/default-accounts'")
