.container
    .jumbotron
        H2 Overview Text Goes Here
        ul
            li Set beta expectations, service limited to AWS only
            li Explain the two steps required before launching a cluster
            li Explain what is AWS IAM ARN Role, and how to obtain it
            li Assure that users can trust us with their ARN Role and can remove anytime
            li Explain charges - no charge from Teraproc during Beta, AWS charges still apply
    .col-md-12
        .pull-right
            button.btn.btn-primary(ng-click="overview()") Next